html {
    font-size: 16px;
    @media (max-width: $breakpoint-medium) {
        font-size: 14px;
    }
}
.skip-link {
    display: none;
}
body {
    font-family: $font-regular;
    font-weight: normal;
    color: $COLOR_BLACK;
    line-height: 1.5;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-heading;
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
    margin-bottom: .9375rem;
    font-size: .875rem;
    
}
a[href] {
    outline: none;
}

img  {
    height: auto;
}
a {
    color: $COLOR_BLACK;
}
.bt-0{
    border-top: none !important;
}
.mt-4 {
    margin-top: 2.5rem !important;
}
.mr-auto {
    margin-right: auto;
}
.saros {
    .post-title,
    &-name {
        line-height: 1.2;
        small {
            font-family: $font-regular;
            font-weight: normal;
            font-size: 1rem;
            display: block;
            margin-bottom: 1.25rem;
            color: $COLOR_PRIMARY;
        }
        span {
            color: #0c0e0e;
            display: block;
            font-size: $FONT_HERO;
        }
    }
    .post-summary,
    &-summary {
        p {
            font-size: $FONT_BASE;
            line-height: 2.2;
            color: rgba($COLOR_BLACK, 0.7);
            margin-top: 2.5rem;
            letter-spacing: 0.5px;
        }
        abbr,
        strong {
            font-weight: 400;
            padding-bottom: 1px;
        }
        abbr[title] {
            text-decoration: none;
            box-shadow: inset $COLOR_SECONDARY 0 -.5rem 0;
        }
    }
    .post-summary {
        h2 + P,
        h3 + p {
            margin-top: 0;
        }
    }
    &-info {
        font-size: $FONT_TINY;
        color: rgba($COLOR_BLACK, .3);
        transform: translateY(1.875rem);
        text-align: right;
        margin-left: auto;
        a {
            color: rgba($COLOR_BLACK, .5);
            &:hover {
                text-decoration: none;
            }
        }
    }
}
.section-title {
    font-size: 17vw;
    opacity: 0.05;
    height: 0;
    margin: 0;
    position: sticky;
    top: 0;
    margin-top: 25vh;
    line-height: 0.5;
    z-index: -1;
}
.article {
    &-title {
        margin: 0;
        font-size: 1.875rem;
        line-height: 1.2;
        color: rgba($COLOR_BLACK, 1);
        transition: all 300ms ease;
    }
    &-content {
        font-size: $FONT_SMALL;
        line-height: 2;
        color: #5a5a5a;
        padding: .9375rem 0;
        max-height: 10rem;
        overflow: hidden;
    }
}

.post-edit-link {
    position: relative;
    z-index: 10;
    color: rgba(0, 0, 0, 0.3);
    margin-left: auto;
    span {
        color: rgba(0, 0, 0, 0.3);
        display: inline-block;
        padding: 0.625rem;
        padding-left: 0.625rem;
        text-decoration: underline;
    }
    &:hover {
        span {
            color: rgba(0, 0, 0, 1);
        }

    }

}
.meta-date,
.post-date {
    font-size: $FONT_TINY;
    color: rgba(0, 0, 0, 0.3);
    padding-right: 0.625rem;
    margin-right: 0.625rem;
    line-height: 0.875rem;
}


.text-muted {
    display: block;
    font-size: .875rem;
    letter-spacing: 0;
    color: hsla(0,0%,100%,.3);
    font-style: normal;
    &::before {
        content: "// ";
    }
    &.dark {
        color: rgba($COLOR_BLACK, .4);
        margin-bottom: .625rem;
    }
}

.post {
    blockquote {
        border-left: .25rem solid $COLOR_BLACK;
        padding: .25rem 1.8725rem 1.25rem;
        margin: 0;
        font-style: italic;

    }
    a {
        color: $COLOR_LINK;
        &:hover {
            text-decoration: none;
        }
    }
    ul,
    ol {
        padding-left: 1.875rem;
        color: rgba(0, 0, 0, 0.7);
        margin: 2.5rem 0 0;
        li {
            list-style: inside;
            font-weight: normal;
            padding-bottom: 0.5rem;
        }

    }
    &-summary {
        h2, h3 {
            margin: 0;
        }
    }
}

@media (max-width: $breakpoint-small) {
    
}