// Fonts
$font-regular: 'Domine', serif;
$font-heading: 'Rozha One', serif;

$HEADER_HEIGHT: 70vh;
$HEIGHT_100: 100%;
$WIDTH_100: 100%;
$WIDTH_50: 50%;

$gutter: 15px;

$COLOR_WHITE: #ffffff;
$COLOR_BODY: #f8fcff;
$COLOR_BLACK: #000000;
$COLOR_DARK: #5a5a5a;

$COLOR_LINK: #0027ff;
$COLOR_PRIMARY: #f7470e;
$COLOR_SECONDARY: #56b949;
$GRADIENT_ONE: #0E1010;
$GRADIENT_TWO: #121a3b;

// FONT SIZES
$FONT_BASE: 1rem;
$FONT_HERO: 4rem;
$FONT_BIG: 2.5rem;
$FONT_LARGE: 1.25rem;
$FONT_SMALL: 0.875rem;
$FONT_TINY: 0.75rem;
$FONT_VTINY: 0.625rem;

@mixin d_flex ($display, $wrap) {
    display: $display;
    flex-wrap: $wrap;
}

@mixin gradient {
	backgroundImage: linear-gradient(90deg, #{$GRADIENT_ONE} 50%, #{$GRADIENT_TWO} 50%)
}


$breakpoint-small:                              640px !default;  // Phone landscape
$breakpoint-medium:                             960px !default;  // Tablet Landscape
$breakpoint-large:                              1200px !default; // Desktop

$breakpoint-xsmall-max:                         ($breakpoint-small - 1) !default;
$breakpoint-small-max:                          ($breakpoint-medium - 1) !default;
$breakpoint-medium-max:                         ($breakpoint-large - 1) !default;

$container-max-width:                           1200px !default;
$container-small-max-width:                     960px !default;
$container-large-max-width:                     1440px !default;
$container-padding-horizontal:                  15px !default;
$container-padding-horizontal-large:            72px !default;




