input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
textarea {
    max-width: 20rem;
    width: 100%;
    border: 1px solid transparent;
    background-color: #fefefe;
    border: 1px solid #eeeeee;
    height: 2.75rem;
    padding: 0.875rem;
    box-sizing: border-box;
    border-radius: .25rem;
    &:focus {
        outline: 2px solid transparent;
        border-color: $COLOR_SECONDARY;
    }
}
textarea {
    min-height: 10rem;
}
button,
[type="button"],
[type="reset"],
[type="submit"],
a.btn {
    height: 2.75rem;
    line-height: 2.75rem;
    border: none;
    display: inline-block;
    background-color: rgba($COLOR_SECONDARY, 1);
    padding: 0 1.25rem;
    font-family: $font-heading;
    color: $COLOR_WHITE;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: .25rem;
}
label {
    color: rgba($COLOR_BLACK, 0.5);
    display: block;
    padding-bottom: .25rem;
    .required,
    .asterisk {
        color: red;
    }
}