input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
textarea {
    max-width: 20rem;
    width: 100%;
    border: 1px solid transparent;
    background-color: #fefefe;
    border: 1px solid #eeeeee;
    height: 2.75rem;
    padding: 0.875rem;
    box-sizing: border-box;
    border-radius: .25rem;
    &:focus {
        outline: 2px solid transparent;
        border-color: $COLOR_SECONDARY;
    }
}
textarea {
    min-height: 10rem;
}
button,
[type="button"],
[type="reset"],
[type="submit"],
a.btn {
    height: 2.75rem;
    line-height: 2.75rem;
    border: none;
    display: inline-block;
    background-color: rgba($COLOR_SECONDARY, 1);
    padding: 0 1.25rem;
    font-family: $font-heading;
    color: $COLOR_WHITE;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: .25rem;
    text-decoration: none;
}
a.btn {
    background-color: #f7470e;
    height: 3.5rem;
    line-height: 3.75rem;
}
label {
    color: rgba($COLOR_BLACK, 0.5);
    display: block;
    padding-bottom: .25rem;
    .required,
    .asterisk {
        color: red;
    }
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1095;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;

    &-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
        position: relative;
        width: auto;
        margin: 1.75rem auto;
        pointer-events: none;
    }
    &-content {
        background-color: #ffffff;
        position: relative;
        height: 400px;
        border: 1px solid rgba($COLOR_BLACK, 0.1);
        box-shadow: rgba($COLOR_BLACK, 0.1) 0 0.5rem 1rem;
    }
    &-backdrop {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1094;
        width: 100vw;
        height: 100vh;
        background-color: $COLOR_BLACK;
        opacity: .7;
    }
    &-open {
        .modal {
            display: block;
        }
    }
}