input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
textarea {
    max-width: 20rem;
    width: 100%;
    border: 1px solid transparent;
    background-color: #fefefe;
    border: 1px solid #eeeeee;
    height: 2.75rem;
    padding: 0.875rem;
    box-sizing: border-box;
    border-radius: .25rem;
    &:focus {
        outline: 2px solid transparent;
        border-color: $COLOR_SECONDARY;
    }
}
textarea {
    min-height: 10rem;
}
button,
[type="button"],
[type="reset"],
[type="submit"],
a.btn {
    height: 2.75rem;
    line-height: 2.75rem;
    border: none;
    display: inline-block;
    background-color: rgba($COLOR_SECONDARY, 1);
    padding: 0 1.25rem;
    font-family: $font-heading;
    color: $COLOR_WHITE;
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: .25rem;
    text-decoration: none;
}

a.btn {
    background-color: $GRADIENT_TWO;
    transition: all 300ms ease-in-out;

    &:hover,
    &:focus {
        background-color: $COLOR_LINK;
    }
}

label {
    color: rgba($COLOR_BLACK, 0.5);
    display: block;
    padding-bottom: .25rem;
    .required,
    .asterisk {
        color: red;
    }
}

.blocker {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1095;
    background-color: rgba($COLOR_BLACK, .75);
    text-align: center;
    &::before{
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -.05rem;
    }
    &.behind {
        background-color: transparent;
    }
}


.modal {
    display: none;
    vertical-align: middle;
    position: relative;
    z-index: 2;
    max-width: 25rem;
    box-sizing: border-box;
    width: 90%;
    background: $COLOR_WHITE;
    padding: 1.875rem;
    text-align: left;

    br {
        display: none;
    }

    .ed_form_message {
        font-size: 0.75rem;
        color: #c11818 !important;
        padding: 0.375rem 0 0;
    }

    &-title {
        font-weight: 1.25rem;
        margin: 0 0 1rem;
        max-width: 90%;
    }

    a.close-modal {
        position: absolute;
        top: .25rem;
        right: .25rem;
        display: block;
        width: 2.75rem;
        height: 2.75rem;
        text-indent: -9999px;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('../icons/close.svg');
        background-size: 2rem;
        opacity: .5;
        &:hover {
            opacity: 1;
        }
    }
    &-spinner {
        position: fixed;
        display: none;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        padding: .75rem 1rem;
        border-radius: .25rem;
        background-color: rgba($COLOR_BLACK, .8);
        height: 1.25rem;
        & > div {
            border-radius: 100px;
            background-color: $COLOR_WHITE;
            height: 1.25rem;
            width: .125rem;
            margin: 0 1px;
            display: inline-block;
            animation: sk-stretchdelay 1.2s infinite ease-in-out;
        }
        .rect {
            &2{
                animation-delay: -1.1s;
            }
            &3 {
                animation-delay: -1.0s;
            }
            &4 {
                animation-delay: -0.9s;
            }
        }
    }
}
  
@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.5) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.5);
        -webkit-transform: scaleY(0.5);
    }  20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
.ed_validation {
    display: block;
    font-size: .75rem;
    padding-top: .5rem;
}