.saros {
    &-footer {
        background-color: $COLOR_WHITE;
        position: fixed;
        height: 14rem;
        left: 0;
        bottom: 0;
        width: $WIDTH_100;
        padding: 64px 0;
        box-sizing: border-box;
        z-index: 0;
        @media print {
            display: none;
        }
        &_spacer {
            position: relative;            
            z-index: -1;
            height: 14rem;
            @media print {
                display: none;
            }
        }
        a {
            display: inline-block;
            &.email,
            &.phone {
                font-size: $FONT_SMALL;
                display: inline-block;
                color: $COLOR_BLACK;
                text-decoration: none;
                margin: 0 0 1.25rem 0;
                padding-bottom: 1px;
                line-height: 1.3;
                transition: box-shadow 300ms ease;
                box-shadow: inset $COLOR_SECONDARY 0 -1px 0;
                &:hover {
                    color: $COLOR_BLACK;
                    box-shadow: inset $COLOR_SECONDARY 0 -.5rem 0;
                }
            }
        }
    

    }
}