main {
    background-color: $COLOR_WHITE;
    border-bottom: 1px solid #F0F0F0;
    position: relative;
    z-index: 10;
}
.article {
    box-shadow: rgba(0,0,0, 0.03) 0 1.25rem 1.875rem;
    padding: 0 1.875rem 1.25rem;
    box-sizing: border-box;
	background-color: #fff;    
	transition: all 400ms cubic-bezier(0, 0, 0.2, 1) 0ms;
	position: relative;
	margin-bottom: 2.5rem;
	display: inline-block;
    width: 100%;
    &s {
        padding: 3.25rem 0 3.75rem;
        column-count: 1;
        column-gap: 1.875rem;
        box-sizing: border-box;
        orphans: 1;
        widows: 1;
        @media (min-width: $breakpoint-small) {
            &.item-2 {
                column-count: 2;
            }
        }
        @media (min-width: $breakpoint-medium) {
            &.item-3 {
                column-count: 3;
            }
        }
    }
    .read-more {
		opacity: 0;
		transform: translateX(-2rem);
        transition: transform 400ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        height: 1px;
        width: .875rem;
        background-color: #f7470e;
        position: relative;
        margin-left: auto;
        &::after {
            content: "";
            position: absolute;
            height: 7px;
            width: 7px;
            border-bottom: 1px solid #f7470e;
            border-right: 1px solid #f7470e;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            right: 0;
            top: -3px;
        }
	}
	.link-to-detail {
        text-decoration: none;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 9;
	}
	&:hover {
		transform: translateY(-1rem);
        box-shadow: rgba(51,51,255,0.08) 0 1.25rem 1.875rem;
        .article-title {
            text-decoration: underline;
            color: rgba($COLOR_LINK, 1);
        }
		.read-more {
			opacity: 1;
			transform: translateX(0);
		}
    }
	@media (max-width: $breakpoint-small) {
		padding: 1.25rem;
	}

}
.border-bottom {
    border-bottom: 1px solid
}
.meta {
    &s {
        font-size: $FONT_TINY;
        border-top: 1px solid #eee;
        display: flex;
        padding-top: 0.625rem;
        align-items: center;
        &.border-bottom {
            border-bottom-color: #eee;
            padding-bottom: 0.625rem;
        }
    }
    &-date {
        border-right: 1px solid;
    }
    &-category {
        padding: .125rem .375rem;
        display: block;
        position: relative;
        z-index: 10;
        color: $COLOR_SECONDARY;
        text-decoration: none;
        border-radius: 0.125rem;
        &:hover {
            background-color: rgba($COLOR_SECONDARY, 1);
            color: $COLOR_WHITE;
            
        }
    }
}
.saros {
    &-sidebar {
        height: 100%;
        &::after {
            content: '';
            width: 1px;
            display: block;
            background-color: #F0F0F0;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: -2;
        }
        .aside {
            position: sticky;
            top: 8rem;
            padding-left: 1.875rem;
            box-sizing: border-box;
        }
    }
}
.post {
    &-single,
    &-page {
        padding-top: 3.5rem;
        padding-bottom: 6rem;
    }
    &-thumbnail {
        position: relative;
        margin: 0 -1.875rem 1.25rem;
        height: 12.5rem;
        img {
            display: block;
        }
    }
        
    &-header {
        width: 100%;
        height: 30rem;
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
    }
}
@media (max-width: $breakpoint-small) {
}